.contact-form-header {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}
.products-header {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
}
.contact-form-foot {
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0% 100%);
}